body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.img-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: #eeeeee;
	align-items: center;
}

.img-container img {
	width: 33.3%;
	padding: 20px;
}

table#wordcount {
	width: 100%;
	font-size: 16px;
	border-collapse: collapse;
	border-spacing: 0;
}

table#wordcount tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

#wordcount th {
	padding-top: 11px;
	padding-bottom: 11px;
	background-color: #eeeeee;
	color: grey;
	border: 1px solid #ddd;
	text-align: left;
	padding: 8px;
}

#wordcount td {
	border: 1px solid #ddd;
	text-align: left;
	padding: 8px;
}