/webpage-parser/webpage-parser/webpage-parser.csproj.user
/webpage-parser/webpage-parser/bin/webpage-parser.dll
/webpage-parser/webpage-parser/bin/webpage-parser.pdb
/webpage-parser/webpage-parser/obj/Debug/webpage-parser.dll
/webpage-parser/webpage-parser/obj/Debug/webpage-parser.pdb
