/webpage-parser/webpage-parser/webpage-parser.csproj.user
/webpage-parser/webpage-parser/bin/webpage-parser.dll
/webpage-parser/webpage-parser/bin/webpage-parser.pdb
/webpage-parser/webpage-parser/obj/Debug/webpage-parser.dll
/webpage-parser/webpage-parser/obj/Debug/webpage-parser.pdb
/webpage-parser/.vs/webpage-parser/v14/.suo
/webpage-parser/webpage-parser.Tests/bin/Debug/webpage-parser.Tests.dll
/webpage-parser/webpage-parser.Tests/bin/Debug/webpage-parser.Tests.pdb
/webpage-parser/webpage-parser.Tests/obj/Debug/webpage-parser.Tests.dll
/webpage-parser/webpage-parser.Tests/obj/Debug/webpage-parser.Tests.pdb
