@{
	ViewBag.Title = "Home Page";
}
@model webpage_parser.Models.ParserModel
<div class="jumbotron">
	<h1>Webpage Parser</h1>
	@using (Html.BeginForm("Parse", "Home", FormMethod.Post))
	{
		@Html.TextBoxFor(model => model.Url)
		@Html.ValidationMessageFor(model => model.Url)
		<button type="submit">Parse</button>
	}
</div>

