@{
	ViewBag.Title = "Home Page";
}
@model webpage_parser.Models.ParserModel
<div class="jumbotron">
	<h1>Webpage Parser</h1>
	@using (Html.BeginForm("Parse", "Home", FormMethod.Post))
	{
		<p>Please enter a valid url</p>
		@Html.TextBoxFor(model => model.Url)
		<button type="submit">Parse</button>
		<p class="text-danger">@Html.ValidationMessageFor(model => model.Url)</p>
	}
</div>
